# K1 inherited U-Boot framebuffer validation profile.

#include "../nsh/defconfig"

CONFIG_DRIVERS_VIDEO=y
CONFIG_VIDEO_FB=y
CONFIG_FB_UPDATE=y
CONFIG_EXAMPLES_FB=y
CONFIG_EXAMPLES_FB_STACKSIZE=4096
CONFIG_K1_FB=y
CONFIG_K1_FB_BASE=0x7f700000
CONFIG_K1_FB_XRES=800
CONFIG_K1_FB_YRES=480
CONFIG_K1_FB_BPP=32
