#
# SPDX-License-Identifier: Apache-2.0
#

config ARCH_BOARD_K1_MUSE_PI_PRO
	bool "MUSE Pi Pro (SpacemiT K1)"
	default y
	select ARCH_RV64
	select ARCH_RV_ISA_M
	select ARCH_RV_ISA_A
	select ARCH_RV_ISA_C
	select ARCH_HAVE_MULTICPU
	select ARCH_HAVE_S_MODE
	---help---
		Enable board support for the SpacemiT K1 based MUSE Pi Pro.
