#
# MUSE Pi Pro minimal NSH bring-up configuration.
#

CONFIG_ARCH="risc-v"
CONFIG_ARCH_RISCV=y
CONFIG_ARCH_RV64=y
CONFIG_ARCH_RV_ISA_M=y
CONFIG_ARCH_RV_ISA_A=y
CONFIG_ARCH_RV_ISA_C=y
CONFIG_ARCH_RV_ISA_ZICSR_ZIFENCEI=y
CONFIG_ARCH_HAVE_MULTICPU=y
CONFIG_ARCH_HAVE_S_MODE=y
CONFIG_ARCH_USE_S_MODE=y
CONFIG_ARCH_RV_EXT_SSTC=y
CONFIG_ARCH_CHIP_RISCV_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM_DIR="../vendor/spacemit/chips/k1"
CONFIG_ARCH_CHIP_CUSTOM_DIR_RELPATH=y
CONFIG_ARCH_CHIP_CUSTOM_NAME="k1"
CONFIG_ARCH_BOARD_CUSTOM=y
CONFIG_ARCH_BOARD_CUSTOM_DIR="../vendor/spacemit/boards/k1/muse_pi_pro"
CONFIG_ARCH_BOARD_CUSTOM_DIR_RELPATH=y
CONFIG_ARCH_BOARD_CUSTOM_NAME="muse_pi_pro"
CONFIG_ARCH_BOARD_K1_MUSE_PI_PRO=y
CONFIG_ALARM_ARCH=y
# The K1 timer implementation is a one-shot S-mode alarm.  Tickless
# scheduling lets it drive watchdog and work-queue deadlines directly.
CONFIG_SCHED_TICKLESS=y
CONFIG_ARCH_LOWPUTC=y
CONFIG_K1_EARLY_BOOT_LOG=y
CONFIG_K1_PRESERVE_BOOT_UART=y
CONFIG_K1_SBI_TIMEBASE_FREQUENCY=24000000
CONFIG_K1_UART_POLL_USEC=1000
CONFIG_BOARD_EARLY_INITIALIZE=y
CONFIG_BOARD_LATE_INITIALIZE=y
CONFIG_BOARDCTL_RESET=y
CONFIG_BUILTIN=y
CONFIG_DEV_CONSOLE=y
CONFIG_DEV_GPIO=y
CONFIG_DEBUG_FEATURES=y
CONFIG_DEBUG_SYMBOLS=y
CONFIG_FS_PROCFS=y
CONFIG_IDLETHREAD_STACKSIZE=4096
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_INIT_STACKSIZE=8192
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_READLINE=y
CONFIG_EXAMPLES_GPIO=y
CONFIG_EXAMPLES_GPIO_STACKSIZE=8192
CONFIG_ONESHOT=y
CONFIG_ONESHOT_COUNT=y
CONFIG_ONESHOT_FAST_DIVISION=y
CONFIG_RAM_START=0x11000000
CONFIG_RAM_SIZE=134217728
CONFIG_READLINE_CMD_HISTORY=y
CONFIG_SCHED_WAITPID=y
CONFIG_SYSTEM_NSH=y
CONFIG_SYSTEM_NSH_STACKSIZE=8192
CONFIG_USEC_PER_TICK=1000
