# K1 PWM11 40-pin Pin 3 output verification configuration.

#include "../nsh/defconfig"

CONFIG_PWM=y
CONFIG_EXAMPLES_PWM=y
CONFIG_EXAMPLES_PWM_DEVPATH="/dev/pwm11"
CONFIG_EXAMPLES_PWM_FREQUENCY=1000
CONFIG_EXAMPLES_PWM_DUTYPCT=50
CONFIG_EXAMPLES_PWM_DURATION=5
CONFIG_K1_PWM=y
CONFIG_K1_PWM11=y
